<div data-navbar-target="menu"
     class="absolute z-10 hidden">
  <!--          TODO: Fix this width-->
  <div class="w-[300px] mt-2 text-sm font-medium bg-white dark:bg-neutral-800 dark:text-white border border-neutral-200 dark:border-neutral-700/50 shadow-xl rounded-lg cursor-pointer">
    <div class="mb-0 text-xs">
      <div class="p-1">
        <div class="flex items-center gap-x-1.5 p-1.5 hover:bg-highlight-light dark:hover:bg-neutral-700/50 rounded">
          <div class="flex items-center justify-center w-6 h-6 bg-black text-white text-xs rounded">C</div>
          <p>Caley</p>
        </div>
      </div>
      <div class="p-1 border-y border-neutral-200 dark:border-neutral-700/50">
        <p class="inline-block px-2 py-1.5 hover:text-black dark:hover:text-white hover:bg-highlight-light dark:hover:bg-neutral-700/50 rounded cursor-pointer">Add workspace</p>
      </div>
    </div>
    <div>
      <div class="flex items-center justify-between p-1 dark:bg-neutral-600/20 rounded-b-lg">
        <%= button_to "Log Out", sessions_url, method: :delete, class: 'block px-2 py-1.5 text-xs dark:text-white hover:text-red-400 dark:hover:text-red-300 hover:bg-red-100/40 dark:hover:bg-red-100/20 rounded' %>
        <div class="flex items-center gap-x-0.5">
          <div>
            <%= render 'shared/icons/sun_theme_toggle' %>
            <%= render 'shared/icons/moon_theme_toggle' %>
          </div>
          <%= link_to edit_settings_path do %>
            <%= render 'shared/icons/settings' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>