<nav class="flex items-center justify-between w-full p-1 border-b border-neutral-800">
  <div class="flex items-center gap-x-1">
    <% @filters.each do |filter| %>
      <div data-root-target="filter"
          class="flex items-center h-8 px-3 hover:bg-neutral-200 hover:text-white hover:bg-neutral-700/50 backdrop-filter backdrop-blur rounded-lg">
        <% if filter == 'Inbox' %>
          <p class="text-xs font-medium"><%= filter %><span class="ml-1 text-sky-500"><%= @email_threads.count if filter == 'Inbox' %></span></p>
        <% else %>
          <p class="text-xs font-medium"><%= filter %></p>
        <% end %>
      </div>
    <% end %>
  </div>
  <div data-controller="user-dropdown">
    <div data-action="click->user-dropdown#toggleDropdown"
         class="flex items-center justify-center w-8 h-8 text-neutral-400 hover:text-white rounded-lg hover:bg-neutral-700 cursor-pointer">
      <%= render 'medium_profile_placeholder', color: current_user.profile_color.to_sym, name: current_user.first_name.first %>
    </div>
    <%= render 'shared/navigation/user' %>
  </div>
</nav>
