<!-- TODO: Clean this up w/ custom CSS instead of Tailwind (for keyboard nav) -->
<!-- TODO: Replace border-b with a divider -->
<div data-root-target="listItem"
    class="group flex items-center justify-between px-2 py-2.5 hover:bg-neutral-700/50 border-b border-neutral-700/40">
  <div class="flex items-center gap-x-2 truncate text-[13px]">
    <!-- TODO: Add checkbox -->
    <!-- <input type="checkbox" class="rounded bg-neutral-700 border border-neutral-600 opacity-0 group-hover:opacity-100"> -->

    <!-- TODO: We'll eventually set a random enum color for the placeholder when a user is created -->
    <%= render "medium_profile_placeholder", color: [ "amber", "blue", "green", "purple", "red" ].sample.to_sym, name: message.sender_name.first %>

    <!-- TODO: Separate sender_name into first/last and truncate last -->
    <p class="w-40 text-slate-200"><%= message.sender_name %></p>
    <p class="text-neutral-500 truncate"><%= message.subject.presence || "No Subject" %></p>
    <p class="truncate"><%= message.body %></p>
  </div>
  <div class="flex justify-end ml-2.5">
    <p class="truncate text-xs font-medium text-neutral-500"><%= format_date(message.created_at) %></p>
  </div>
</div>
