<!DOCTYPE html>
<html class="bg-offwhite">
  <head>
    <title><%= content_for(:title) || "Caley.io" %></title>
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Caley.io">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>

    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
    <%= yield :head %>
  </head>

  <body data-controller="theme"
        data-theme-target="body">
    <div data-controller="root"
         class="min-h-screen dark:text-white bg-background-light dark:bg-background-dark"
    >
      <div>
        <!-- TODO: Fix this -->
        <% if user_signed_in? %>
          <nav data-controller="navbar"
               data-action="keydown@window->root#navbarKeydown"
               class="fixed flex items-center justify-between w-full p-2">
            <div class="flex items-center gap-x-1.5">
              <% @filters.each do |f| %>
                <div data-root-target="filter"
                     class="group flex items-center h-7 px-2 text-neutral-400 group-hover:text-black group-hover:dark:text-white hover:dark:bg-neutral-800/80 backdrop-filter backdrop-blur rounded-md">
                  <p class="text-xs font-medium"><%= f %></p>
                </div>
              <% end %>
            </div>

<!--            TODO: We'll add custom filters in the near future -->
<!--            <div>-->
<!--              <div class="flex items-center justify-center w-7 h-7 hover:dark:bg-neutral-800/80 backdrop-filter backdrop-blur rounded-lg">-->
<!--                <p class="font-medium text-neutral-400 group-hover:text-white">+</p>-->
<!--              </div>-->
<!--            </div>-->
          </nav>
        <% end %>
        <main class="min-h-screen">
          <%= yield %>
        </main>
      </div>

      <!-- TODO: Fix this -->
      <% if user_signed_in? %>
        <div data-controller="menu">
          <%= render 'shared/navigation/floating_menu' %>

          <div data-controller="user"
               data-action="keydown@window->user#userModalKeydown">
            <%= render 'shared/modals/user' %>
          </div>

          <div data-controller="search"
               data-action="keydown@window->search#searchKeydown">
            <%= render 'shared/modals/search' %>
          </div>

          <div data-controller="new-email">
            <%= render 'shared/modals/new_email' %>
          </div>
        </div>
      <% end %>

      <%= turbo_frame_tag "modal" %>
    </div>
  </body>
</html>
