<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Caley.to" %></title>
    <% if Rails.env.development? %>
      <%= favicon_link_tag 'dev-icon.png' %>
    <% else %>
      <%= favicon_link_tag 'logo-dark.png' %>
    <% end %>

    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Caley.to">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- <link rel="manifest" href="/manifest.json"> -->
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>

    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>

    <%= yield :head %>
  </head>

  <body data-controller="theme"
        data-theme-target="body"
  >
    <div data-controller="root"
         class="min-h-screen dark:text-white bg-white dark:bg-background-dark">
      <div class="fixed w-screen bg-white dark:bg-background-dark">
        <nav data-controller="navbar"
            data-action="keydown@window->root#rootKeydown"
            class="flex items-center justify-between w-full p-1 border-b dark:border-neutral-800">
          <div class="flex items-center gap-x-1">
            <% @filters.each do |filter| %>
              <div data-root-target="filter"
                  class="flex items-center h-8 px-3 text-neutral-400 hover:text-neutral-900 hover:bg-neutral-200 hover:dark:text-white dark:hover:bg-neutral-700/50 backdrop-filter backdrop-blur rounded-lg">
                <% if filter == 'Inbox' %>
                  <p class="text-xs font-medium"><%= filter %><span class="ml-1 text-sky-500"><%= @email_threads.count if filter == 'Inbox' %></span></p>
                <% else %>
                  <p class="text-xs font-medium"><%= filter %></p>
                <% end %>
              </div>
            <% end %>
          </div>
        </nav>
        <div class="flex justify-between w-full px-2 py-3 border-b dark:border-neutral-800">
          <div class="flex items-center gap-x-1.5">
            <input type="checkbox" disabled class="bg-neutral-100 border-neutral-200 dark:bg-neutral-800 border dark:border-neutral-700 rounded">
            <p class="text-xs text-neutral-300 dark:text-neutral-500">Select all</p>
          </div>
          <p class="text-neutral-400 dark:text-neutral-600 text-xs"><%= @email_threads.count %> emails</p>
        </div>
      </div>
      <main class="bg-white dark:bg-background-dark">
        <%= yield %>
      </main>

      <div data-controller="menu">
        <%= render 'shared/navigation/floating_menu' %>

        <div data-controller="user"
             data-action="keydown@window->user#userModalKeydown">
          <%= render 'shared/modals/user' %>
        </div>

        <div data-controller="search"
             data-action="keydown@window->search#searchKeydown">
          <%= render 'shared/modals/search' %>
        </div>

        <div>
          <%= render 'shared/modals/settings' %>
        </div>
      </div>

      <%= turbo_frame_tag "base" %>
    </div>
  </body>
</html>
