<!DOCTYPE html>
<html class="bg-offwhite">
  <head>
    <title><%= content_for(:title) || "Caley.io" %></title>
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Caley.io">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>

    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
    <%= yield :head %>
  </head>

  <body data-controller="theme"
        data-theme-target="body"
        class="h-screen">
    <div class="flex dark:text-white dark:bg-darkBackground">
      <div class="flex-col p-5 min-w-80 border-r h-screen
                  dark:border-darkBorder">
        <div class="flex items-center justify-between">
          <%= link_to root_path do %>
            <%= image_tag 'logo.svg', alt: 'Caley.io' %>
          <% end %>
          <div class="relative cursor-pointer" data-controller="dropdown">
            <div class="flex" data-action="click->dropdown#toggleMenu">
              <div class="mr-1.5 text-white w-8 h-8 bg-gray-400 rounded-full flex items-center justify-center text-lg uppercase"><%= Current.user.email.first %></div>
            </div>

            <div class="absolute z-10 hidden w-screen px-2 mt-2 -translate-x-1/2 left-1/2 max-w-min" data-dropdown-target="menu">
              <div class="w-48 px-3 text-sm font-semibold leading-6 text-gray-900 bg-white shadow-lg shrink rounded-xl ring-1 ring-gray-900/5">
                <%= link_to "Settings", edit_settings_path, class: 'block p-2 hover:text-gray-600' %>
                <%= button_to "Log Out", session_path, method: :delete, class: 'block p-2 hover:text-gray-600' %>
              </div>
            </div>

          </div>
        </div>
        <button data-action="click->theme#toggle">toggle</button>
        <nav>
          <ul class="mt-6 space-y-2">
            <%= render 'shared/navigation/link', path: root_path, title: '.inbox', icon: 'inbox', active: true %>
            <!--TODO: Fix the active state-->
            <%= render 'shared/navigation/link', path: done_path, title: '.done', icon: 'check-circle', active: false %>
            <%= render 'shared/navigation/link', path: team_path, title: '.team', icon: 'building', active: false %>
            <%= render 'shared/navigation/link', path: calendar_path, title: '.calendar', icon: 'calendar', active: false %>
            <%= render 'shared/navigation/link', path: vip_path, title: '.vip', icon: 'star', active: false %>
            <%= render 'shared/navigation/link', path: sent_path, title: '.sent', icon: 'send', active: true %>
            <%= render 'shared/navigation/link', path: later_path, title: '.later', icon: 'calendar-clock', active: false %>
            <%= render 'shared/navigation/link', path: draft_path, title: '.draft', icon: 'file', active: false %>
            <%= render 'shared/navigation/link', path: archive_path, title: '.archive', icon: 'archive', active: false %>
            <%= render 'shared/navigation/link', path: root_path, title: '.trash', icon: 'trash-2', active: true %>
          </ul>
        </nav>
        <div class="flex flex-col mt-6">
          <div class="flex items-center justify-between">
            <%= link_to accounts_path, class: 'text-xs uppercase text-[#737373] font-bold tracking-wide' do%>
              <%= t('.accounts') %>
            <% end %>
            <%= link_to new_account_path, class: 'block hover:bg-gray-100 p-2 text-sm font-semibold text-gray-900 flex items-center rounded', title: t('.new_account'), data: { turbo_frame: "modal" } do %>
              <%= inline_svg_tag('icon-add.svg', class: 'text-gray-500 fill-current') %>
            <% end %>
          </div>


          <%= link_to new_account_path, class: "flex items-center gap-4 px-2 py-3 mb-1 text-[#737373] text-sm font-medium rounded-[10px] hover:bg-[#f2f2f2]", data: { turbo_frame: "modal" } do %>
            <%= lucide_icon("plus", class: "w-5 h-5") %>
            <p><%= t('.new_account') %></p>
          <% end %>
        </div>
      </div>
      <main class="flex-grow py-5 pr-5">
        <%= yield %>
      </main>
    </div>
    <%= turbo_frame_tag "modal" %>
  </body>
</html>
