<!DOCTYPE html>
<html>
  <head>
    <% if Rails.env.development? %>
      <%= favicon_link_tag 'dev-icon.png' %>
    <% else %>
      <%= favicon_link_tag 'logo-dark.png' %>
    <% end %>

    <title><%= content_for(:title) || "Caley.to" %></title>

    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Caley.to">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- <link rel="manifest" href="/manifest.json"> -->

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>

    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>

    <%= yield :head %>
  </head>

  <body data-controller="theme" data-theme-target="body">
    <div data-controller="root" class="min-h-screen dark:text-white bg-white dark:bg-background-dark">
      <!-- TODO: Remove menu controller -->
      <div data-controller="menu">
        <%= render 'shared/command_palette' %>
        <%= render 'shared/navigation/floating_menu' %>
        <%= render 'shared/modals/settings' %>
      </div>

      <div class="fixed w-screen bg-white dark:bg-background-dark">
        <%= render 'shared/navbar' %>
        <%= render 'shared/toolbar' %>
      </div>

      <main class="bg-white dark:bg-background-dark">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
